
*{
  margin: 0px;
  padding: 0%;

}
body{
background-image: url(Back_1.jpeg);
background-repeat: no-repeat;
background-size:cover;
background-position: center;
background-attachment: fixed;
  
}
.header{
display: flex;
justify-content: space-between;
position: fixed;
left: 0%;
right: 0%;
padding: 22px;
background-color: #243e4f;

}
  
.navbar a{
text-decoration: none;  
letter-spacing: 1px;
font-weight: bold;
font-size: 20px;
font-family:cursive;
color:#ededed;
margin-left:20px ;
border-radius: 10px;
padding: 10px;
}
.navbar a:hover{
  text-decoration-line: overline;
  text-decoration-thickness:2px;
  color: #f75551;
  transition: 0.5s; 

  }

  .logo{  
    width: 60px;
	    cursor: pointer;
    margin-top:0px ;
    margin-inline: 50px;
    margin-bottom:0px;
    font-family:cursive;
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 25px;
    color: white;
 }
 #boxhead{
  height: 10vh;
}

/* section 1  contact form ************************************************************************************** */

.section1{
  margin-top: 15vh;
   margin-left: 20vh;
    height: 30em;
    display: flex;
    justify-content: flex-start;

    
}
#contactbox{
  background-color: lightcoral;
    text-align: center;
    padding: 20px;
    height: 25em;
    border-radius: 20px;
    box-shadow: 17px 25px 10px  rgba(0, 0, 0,0.6);
  
}


#contactbox h2{
    font-family: cursive;
        margin: 20px;
        margin-top: 30px ;
        font-size: 30px ;
        color: black;
   
   
}
#email,#password {
    background-color: white;
    border-radius: 10vh;
    border: none;
    padding: 20px;
    margin: 20px;
    width: 29vh;
    height: 10px;
    font-size: medium;
     font-variant: small-caps;
}

.btn{
  border-radius: 10vh;
    border: none;
    padding: 15px;
    margin: 20px;
    font-size: 18px;
    font-family: cursive;
    background-color: lightblue;
}
.btn:hover{
     background-color:black ;
     transition: 0.5s;
     color: white;
}