*{
    margin: 0px;
    padding: 0%;
    text-decoration: none;
}
body{
background-image: url(Back_2.jpeg);
background-repeat: no-repeat;
background-size:cover;  
background-position: center;
background-attachment: fixed;
    
}
.header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0%;
  right: 0%;
  padding: 22px;
  background-color: #243e4f;
  
  }

.navbar a{
  text-decoration: none;  
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 20px;
  font-family:cursive;
  color:#ededed;
  margin-left:20px ;
  border-radius: 10px;
  padding: 10px;
}
  .navbar a:hover{
    text-decoration-line: overline;
    text-decoration-thickness:2px;
    color: #f75551;
    transition: 0.5s; 

    }

    .logo{  
      width: 60px;
	    cursor: pointer;
      margin-top:0px ;
      margin-inline: 50px;
      margin-bottom:0px;
      font-family:cursive;
      font-variant: small-caps;
      font-weight: bolder;
      font-size: 25px;
      color: white;
   }
   #boxhead{
    height: 15vh;

 }
/* section 1 ****************************************************************************************************/
 #section1{  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: black;
  margin-top: 20px;    
  text-decoration-style:solid;
  text-decoration-thickness: 4px;
}
#section1head{
  font-family: cursive;
  font-weight: bold;
  font-style: italic;
  color:#f8302c ;
  text-decoration: underline;

}
#section1para{
  margin-top: 70px;
  text-align: justify;
  margin-inline:28vh ;
  padding: 20px;
  line-height: 28px;
  font-family: cursive;
  font-size: 16px;


}
#section1para h2{
  margin-bottom: 20px;
  text-decoration:underline;
  text-decoration-thickness: 3px;
}



/* Table ************************************************************************ */

#boxtable{
  display: flex;
  justify-content: center;
  margin-inline: 10vh;
  padding: 150px ;
  padding-top: 20px;
  padding-bottom: 10vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}
#tablehead,th,td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 25px;
}

th{
  background-color: black;
   color: white;
   text-transform: uppercase;
}
tr:nth-child(even) {
 background-color: white;
}
tr:nth-child(odd) {
  background-color: #ccc;
}  
.lettertd{
  text-transform: uppercase;
  font-weight: bold;
  font-size: xx-large ;
}
/* setup image */

 #stepbox{
  display: flex;
  justify-content: center;
  margin-inline: 10vh;
  padding-bottom: 15vh;

} 

#stepimage{
  width: 75%;
  border-radius: 20px;
} 
 /* FOOTER SECTION ************************************************************************************ */

 footer{   
  background-color:black;
  padding:10px; 
 text-align: center;
}
#footerhead{
  color:  rgb(116, 202, 231);
  word-spacing: 4px;
  text-align: start;  
  font-size: 4vh;
  font-variant: small-caps;
}
#footerlink h3{
  color: white;
  margin: 16px;
  font-family: cursive;
  font-size: 20px;
  font-weight: bolder;
  }

#email{
  border: none;
   padding: 10px;
   width: 40vh;
   font-size: 15px;
   font-variant: small-caps;
   margin-bottom: 20px;
}
button{
  border: none;
  font-variant: small-caps;  
  background-color: #f8302c;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 16px;
}
button:hover{
  background-color: rgb(45, 178, 223);
  color: black;
  transition: 0.5s;
}
/* Icon **************************************************************** */


#icon1{ 
    position: relative;
    width: 6vh; 
    padding-inline:10px ;
}
#icon2{

  position: relative;
  width:6vh;  
  padding-inline:10px ; 
  
}
