*{
    margin: 0px;
    padding: 0%;

}
body{
background-image: url(Back.jpeg);
background-repeat: no-repeat;
background-size:cover;  
background-position: center;
background-attachment: fixed;
    
}
.header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0%;
  right: 0%;
  padding: 22px;
  background-color: #012d39;
  
  }

.navbar a{
  text-decoration: none;  
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 20px;
  font-family:cursive;
  color:#ededed;
  margin-left:20px ;
  border-radius: 10px;
  padding: 10px;
}
  .navbar a:hover{
    text-decoration-line: overline;
    text-decoration-thickness:2px;
    color: #ffffff;
    transition: 0.5s; 

    }

    .logo{  
      width: 60px;
	    cursor: pointer;
      margin-top:0px ;
      margin-inline: 50px;
      margin-bottom:0px;
      font-family:cursive;
      font-variant: small-caps;
      font-weight: bolder;
      font-size: 25px;
      color: white;
   }
   #boxhead{
    height: 10vh;
 }

/* section **************************************************************** */
section{
    color: #ededed;
    font-size: 20px;
    height: 88vh;
   display: flex;
   align-items: center; 
   width: 140vh;
 padding-left: 36vh;

}
#sectionhead{
   color: #ff0101;
    font-family:cursive;
    font-weight: 30px;
    font-size: 6.5vh;
    margin-bottom: 30px;



}
#sectionpara{
    width: 27em;
    font-size: 27px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    line-height:5vh;
}

#btn{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius:20px; 
    padding: 10px;   
    width: 25vh;
    margin-top: 7vh;
     font-size: 22px;
     text-align: center;
      background-color: #00abf0;
      animation: learnmore 2s ease-in-out infinite;
  
}
@keyframes learnmore {

  0%,100%{
     background-color: #f75551;

  }
  60%
  { 
      background-color: #00abf0;
      color: white;
  }
}


#learnmore{
  text-decoration: none;
   color: white;
    font-weight:bold;

}
#btn:hover{ 
    background-color:#f75551;
    transition: 0.5s;
}
p{
    margin-bottom: 50px;
 
}